<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/shared :: head">
    <title id="pageTitle" th:text="${#authentication.getAuthorities().stream().findFirst().toString().contains('ROLE_CUSTOMER')} ? 'Магазин' : 'Продажи'"></title>
</head>
<body>
<header th:include="fragments/shared :: header"></header>
<div class="container">
    <h3 th:text="'Список заказов'"></h3>
    <form class="order-search-form"
        th:method="POST"
        th:if="${#authentication.getAuthorities().stream().findFirst().toString().contains('ROLE_SUPPLIER')}"
        th:action="@{/sales}">
        <input type="text" name="search" id="search" class="input input__search-order" th:value="${search}" placeholder="Последние 4 знака идентификатора заказа">
        <input class="button button-primary" type="submit" value="Найти">
        <a class="button" th:href="@{/sales}">Сбросить</a>
    </form>

    <div th:each="currentOrderRow, wholeOrder : ${orders}" class="order-body">
        <a class="order-heading"
           th:if="${#authentication.getAuthorities().stream().findFirst().toString().contains('ROLE_CUSTOMER')}"
           th:href="@{/order/{number}(number=${currentOrderRow.getKey()})}">
            <div th:replace="fragments/shared :: orderTopRow"></div>
            <div th:replace="fragments/shared :: orderBottomRow"></div>
        </a>
        <a class="order-heading"
           th:if="${#authentication.getAuthorities().stream().findFirst().toString().contains('ROLE_SUPPLIER')}"
           th:href="@{/sales/{number}(number=${currentOrderRow.getKey()})}">
            <div th:replace="fragments/shared :: orderTopRow"></div>
            <div th:replace="fragments/shared :: orderBottomRow"></div>
        </a>
        <div class="order-images">
            <a th:each="order : ${currentOrderRow.getValue().toArray()}" th:href="@{/shop/{id}(id=${order.getProduct().getId()})}">
                <img th:src="${'/img/' + order.getProduct().getImageList()[0].getFileName()}"
                     th:alt="${order.getProduct().getTitle()}"
                     th:title="${order.getProduct().getTitle()}">
            </a>
        </div>
    </div>
</div>
</body>
</html>


<!--    <div th:each="order : ${currentOrderRow}" class="order-body">-->
<!--        <a th:href="@{/order/{id}(id=${order.getId()})}" class="order-heading">-->
<!--            <div class="order-heading__top-row">-->
<!--                <h5 th:text="'Заказ от ' + ${#temporals.format(order.getDateTime(), 'dd MMM yyyy')}"></h5>-->
<!--                <span class="order-status" th:text="${order.getStatus()}"></span>-->
<!--            </div>-->
<!--            <div class="order-heading__bottom-row">-->
<!--                <span class="order-identifier" th:text="'Идентификатор заказа: ' + ${order.getNumber()}"></span>-->
<!--                <span class="order-price" th:text="${order.getPrice()} + ' ₽'"></span>-->
<!--            </div>-->
<!--        </a>-->
<!--        <div class="order-images">-->
<!--            <img th:src="${'/img/' + order.getProduct().getImageList()[0].getFileName()}">-->
<!--        </div>-->
<!--    </div>-->