<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/shared :: head">
    <title id="pageTitle">Пользователи</title>
</head>
<body>
<header th:include="fragments/shared :: header"></header>
<div class="container">
    <h3>Удаление пользователя</h3>
    <form th:method="POST" th:action="@{/profile/delete}" th:object="${user}">
        <p th:text="'Id: ' + ${user.getId()}"></p>
        <p th:text="'Username: ' + ${user.getLogin()}"></p>
        <p th:text="'Роль: ' + ${user.getRole()}"></p>
        <p th:text="'Удалить аккаунт?'"></p>
        <input type="submit" class="button button-danger" value="Удалить"/>
        <a class="button" th:href="@{/profile}" th:text="Отмена"></a>
    </form>
</div>
</body>
</html>