<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <link type="text/css" th:href="@{/css/normalize.css}" rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
  />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet">
  <title th:replace=":: #pageTitle">Layout Generic Title</title>
</head>
<body>

<header th:fragment="header">
      <nav class="navbar">
        <div class="navbar__logo-container">
          <a th:href="@{/shop}"><img class="logo" th:src="${'/img/logo.jpg'}"></a>
          <a class="button" th:href="@{/shop}">Магазин</a>
        </div>
        <div>
          <a th:if="${#authentication.getAuthorities().stream().findFirst().toString().contains('ROLE_CUSTOMER')}" th:href="@{/cart}"><i class="fa-solid fa-cart-shopping"></i></a>
          <a th:if="${#authentication.getAuthorities().stream().findFirst().toString().contains('ROLE_SUPPLIER')}" th:href="@{/product}"><i class="fa-solid fa-tents"></i></a>
          <a th:if="${#authentication.getAuthorities().stream().findFirst().toString().contains('ROLE_SUPPLIER')}" th:href="@{/sales}"><i class="fa-solid fa-store"></i></a>
          <a class="navbar__username" th:href="@{/personal}" th:text="${#authentication.getPrincipal() == 'anonymousUser' ? '' : #request.userPrincipal.getName()}"></a>
          <a th:if="${#authentication.getPrincipal() == 'anonymousUser'}" class="button" href="/auth/login">Вход</a>
          <a th:if="${#authentication.getPrincipal() == 'anonymousUser'}" class="button" href="/auth/registration">Регистрация</a>
          <form th:if="${#request.userPrincipal}" class="form__logout-button" method="post" th:action="@{/logout}">
            <input type="submit" value="Выйти">
          </form>
        </div>
      </nav>
</header>



<div th:fragment="errorPage" class="container">
  <h3 th:include=":: #pageH3">Generic error heading</h3>
  <p th:include=":: #pageText">Generic error text</p>
  <a th:href="@{/}">Главная</a>
</div>



<div th:fragment="productImageContainer" class="product-image__image_container">
  <img class="product-image" th:each="image : ${product.getImageList()}" th:src="${'/img/' + image.getFileName()}"/>
</div>

<div th:fragment="productButtonContainer" class="product-image__button_container">
  <input type="file" name="files" id="files" class="input-file" accept=".jpg, .jpeg, .png" data-multiple-caption="Выбрано файлов: {count}" multiple>
  <label class="button button-add_images" for="files">Выберите изображения</label><span>до 5 файлов формата .jpg, .jpeg, .png</span>
  <div class="upload__image-container"></div>
</div>

<div th:fragment="productImageAddBlock" class="product-image__edit-block">
  <div th:replace="fragments/shared :: productImageContainer"></div>
  <div th:replace="fragments/shared :: productButtonContainer"></div>
</div>

<div th:fragment="productShowcase" class="product__showcase">
  <h4 th:text="${product.getCategory().getName() + ' ' + product.getTitle()}"></h4>
  <div th:replace="fragments/shared :: productImageContainer"></div>
  <p th:text="'Стоимость: ' + ${product.getPrice()} + ' ₽'"></p>
  <p th:text="${product.getDescription()}"></p>
  <p th:text="'Поставщик: ' + ${product.getSupplier()}"></p>
  <p th:text="'На складе: ' + ${product.getWarehouse()}"></p>
</div>

<a th:fragment="productCardLink" class="product-card__link">
  <span class="product-card__category" th:text="${pr.getCategory().getName()}"></span>
  <img th:src="${'/img/' + (pr.getImageList().isEmpty() ? 'logo.jpg' : pr.getImageList()[0].getFileName())}"/>
  <span class="product-card__price-label" th:text="${pr.getPrice()} + ' ₽'"></span><br>
  <span th:text="${pr.getTitle()}"></span>
</a>

<div th:fragment="orderTopRow" class="order-heading__top-row">
  <h5 th:text="'Заказ от ' + ${#temporals.format(currentOrderRow.getValue().toArray()[0].getDateTime(), 'dd MMM yyyy')}"></h5>
  <span class="order-status" th:text="${currentOrderRow.getValue().toArray()[0].getStatus()}"></span>
</div>
<div th:fragment="orderBottomRow" class="order-heading__bottom-row">
  <span class="order-identifier" th:text="'Идентификатор заказа: ' + ${currentOrderRow.getKey()}"></span>
  <span class="order-price" th:text="${T(com.example.CommercePlatform.util.OrderReducer).sum(wholeOrder.current.getValue())} + ' ₽'"></span>
</div>

</body>
</html>